@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutMoveFix";
}
@using BaiTapLonWeb.ViewModels;

@model PhimViewData


<section class="banner-area banner-bg" data-background="https://img.freepik.com/free-photo/assortment-cinema-elements-red-background-with-copy-space_23-2148457848.jpg?w=1480&t=st=1680497371~exp=1680497971~hmac=c7379575b70a1de91854fbf747c61da2ef402c6c13a36f44e91846f756858c06">
    <div class="container custom-container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="banner-content">
                    <h6 class="sub-title wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.8s">Movflx</h6>
                    <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1.8s">Unlimited <span>Movie</span>, TVs Shows, & More.</h2>
                    <div class="banner-meta wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1.8s">
                        <ul>
                            <li class="quality">
                                <span>Pg 18</span>
                                <span>hd</span>
                            </li>
                            <li class="category">
                                <a href="#">Romance,</a>
                                <a href="#">Drama</a>
                            </li>
                            <li class="release-time">
                                <span><i class="far fa-calendar-alt"></i> 2021</span>
                                <span><i class="far fa-clock"></i> 128 min</span>
                            </li>
                        </ul>
                    </div>
                    <a href="https://www.youtube.com/watch?v=4qNALNWoGmI" class="banner-btn btn popup-video wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1.8s"><i class="fas fa-play"></i> Watch Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ucm-area ucm-bg" data-background="../MoveFix/img/bg/ucm_bg.jpg">
    <div class="ucm-bg-shape" data-background="../MoveFix/img/bg/ucm_bg_shape.png"></div>
    <div class="container">
        <div class="row align-items-end mb-55">
            <div class="col-lg-6">
                <div class="section-title text-center text-lg-left">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">Phim Sắp Chiếu</h2>
                </div>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tvShow" role="tabpanel" aria-labelledby="tvShow-tab">
                <div class="ucm-active owl-carousel">


                    @foreach (var item in Model.phimSapChieu)
                    {
                        @await Html.PartialAsync("PartialViewPhim", item)
                        ; ;
                    }
                </div>
            </div>
        </div>

        <section class="top-rated-movie tr-movie-bg" data-background="../MoveFix/img/bg/tr_movies_bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center mb-50">
                            <span class="sub-title">ONLINE STREAMING</span>
                            <h2 class="title">Phim đang chiếu</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="tr-movie-menu-active text-center" id="menuTheLoai">
                            @*<button class="active" data-filter="*">TV Shows</button>
                            <button class="" data-filter=".cat-one">Movies</button>
                            <button class="" data-filter=".cat-two">documentary</button>
                            <button class="" data-filter=".cat-three">sports</button>*@
                        </div>
                    </div>
                </div>
                <div id="phimDangChieu" class="row">
                    @foreach (var item in Model.phamDangChieu)
                    {
                        <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer">
                            @await Html.PartialAsync("PartialViewPhim", item)
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</section>

<script>



    const showMenuTheLoai = () => {
        let str = `<button class="active" onclick="showPhimTheoTheLoai()" data-filter="*">Tât cả</button>`
        $.ajax({
            type: 'GET',
            url: `https://localhost:7142/api/phimapi/getalltheloai`,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $.each(data, function (key, val) {


                    str += `<button class="${val.maTheLoai}" onclick="showPhimTheoTheLoai('${val.maTheLoai}')">${val.tenTheLoai}</button>`
                });
                
                $('#menuTheLoai').html(str);
            }
        })
    }


    const showPhimTheoTheLoai = (maTheLoai = null) => {
        let str = ''
        $.ajax({
            type: 'GET',
            url: `https://localhost:7142/api/phimapi/getphimtheotheloai${maTheLoai ? `?matheloai=${maTheLoai}` : ''}`,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $.each(data, function (key, val) {

                    var lstThoiGianKhoiChieu = val.thoiGianKhoiChieu.split("T")[0].split("-");
                    var thoiGianKhoiChieu = lstThoiGianKhoiChieu[2] + "/" +lstThoiGianKhoiChieu[1] + "/" + lstThoiGianKhoiChieu[0];

                    str += `<div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer">
                                <div class="movie-item mb-50">
                                    <div class="movie-poster" >
                                        <a href="home/chitietphim?maphim=${val.maPhim}">
                                                <img style="display: block;" width:"303px" height="430px" src="../imagesPhim/${val.anh}" alt="">
                                        </a>
                                    </div>
                                    <div class="movie-content">
                                        <div class="top" style="min-height: 40px">
                                                <h5 class="title"><a href="home/chitietphim?maphim=${val.maPhim}">${val.tenPhim}</a></h5>
                                            <span class="date">${thoiGianKhoiChieu}</span>
                                        </div>
                                        <div class="bottom">
                                            <ul>
                                                <li><span class="quality">HD</span></li>
                                                <li>
                                                    <span class="duration"><i class="far fa-clock"></i> ${val.thoiLuong} min</span>
                                                    <span class="rating"><i class="fas fa-thumbs-up"></i>${val.daoDien}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                });
                $('#phimDangChieu').html(str);
            }
        })
    }

    showMenuTheLoai();
    showPhimTheoTheLoai();
</script>